[submodule "config-server"]
	path = config-server
	url = https://github.com/jmanchem/config-server
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/jmanchem/eureka-server
[submodule "ms-customer-bank-jp"]
	path = ms-customer-bank-jp
	url = https://github.com/jmanchem/ms-customer-bank-jp
[submodule "ms-product-bank-jp"]
	path = ms-product-bank-jp
	url = https://github.com/jmanchem/ms-product-bank-jp
[submodule "ms-acquisition-service-bank-jp"]
	path = ms-acquisition-service-bank-jp
	url = https://github.com/jmanchem/ms-adquisitions-service-bank-jp
[submodule "ms-bill-service-bank-jp"]
	path = ms-bill-service-bank-jp
	url = https://github.com/jmanchem/ms-bill-service-bank-jp
